body {
	max-width: 100%;
	background: #F8F8FF;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}

.box {
	margin: 5px 5px 5px 5px;
	padding:  0 0 0 0;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-color: white;
}

.in-box {
	padding: 10px 20px 10px 20px;
}

#profile-pic {
	max-width: 100%;
	display: block;
	margin: auto;
}

#profile-name {
	text-align: center;
	margin-top: -35px;
	background: white;
	opacity: 0.5;
	font-weight: bold;
}

a:link {
	text-decoration: none;
	color: black;
}

a:hover {
	font-size: 110%;
	margin-top: 0px;
}

p {
	text-align: justify;
}

i {
	padding: 0 2px 0 2px;
}

.btn {
	color: white;
    background: #95a791;
    padding: 0 3px 0 3px;
}

hr {
	border-color: #95a791;
}
